@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
@import url('https://fonts.googleapis.com/css?family=Teko');
body {background-color: black}
/* Small devices (landscape phones, 576px and up) */
        @media (max-width: 576px) {
               .loader{ 
                display: none;
            }
              .logo{
                height: 105px;
                width: 256px;    
            }
            .header {
                height: 105px;
                background: linear-gradient(white, #FFCF05);
                width: auto;
                text-align-last: center;
            }
            .redband{
                font-size: 0.7rem;
                padding-top: 8px;
            }
            .helios{
                display: none;
            }
            .poster1{
                width: 380px;
                height: 200px;
                box-shadow: 10px 10px 50px black;
            } 
            .invader{
                width: 385px;
                height: 87px;
                margin-top: 20px;
            }
            .logan{
                width: 200px;
                height: 140px;
                margin-top: 20px;
            }
            .bitch{
                width: 385px;
                height: 172px;
                margin-top: 20px;
            }
            .CC{
                width: 385px;
                height: 97px;
                margin-top: 20px;
            }
            .quasar{
                width: 286px;
                height: 200px;
                margin-top: 20px;
                margin-bottom: 50px;
            }
            .loaderbot{
                width: 330px;
                height: 400px;
                margin-left: -50px;
            }
            .new-u{
                width: 200px;
                height: 304px;
            }
            .thebee{
                width: 300px;
            }
            .helios1{
                width: 300px;
            }
            .welcomepic{
                box-shadow: 10px 10px 50px black;
                border-radius: 20px;
                width: 350px;
                height: 159px;
            }}

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 576px) {
               .loader{ 
                height: 80px;
                width: 146px;
                margin-top: 50px;
            }
              .logo{
                  height: 90px;
                  width: 220px;
            }
            .header {
                height: 130px;
                background: linear-gradient(white, #FFCF05);
                width: auto;
                text-align-last: center;
            }
            .redband{
                font-size: 0.8rem;
                padding-top: 6px;
            }
            .helios{
                height: 452px;
                width: 350px;
            }
            .poster1{
                width: 670px;
                height: 338px;
                box-shadow: 10px 10px 50px black;
            }
            .invader{
                width: 600px;
                margin-top: 20px;
            }
            .logan{
                width: 286px;
                height: 200px;
            }
            .bitch{
                width: 449px;
                height: 200px;
                margin-top: 20px;
            }
            .CC{
                width: 600px;
                height: 152px;
                margin-top: 20px;
            }
            .quasar{
                width: 286px;
                height: 200px;
                margin-top: 20px;
                margin-bottom: 50px;
            }
            .loaderbot{
                width: 330px;
                height: 400px;
            }
            .loaderbot2{
                width: 380px;
                height: 400px;
                margin-left: -90px;
            }
            .new-u{
                width: 200px;
                height: 304px;
            }
            .thebee{
                width: 300px;
            }
            .helios1{
                width: 300px;
            }
            .welcomepic{
                box-shadow: 10px 10px 50px black;
                border-radius: 20px;
                width: 350px;
                height: 159px;
            }}
          
        @media (max-width: 767px) {
            .loaderbot{
                width: 330px;
                height: 400px;
            }
            .loaderbot2{
                display: none;
            }}
            
        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            .loader{ 
                height: 115px;
                width: 208px;
                margin-top: 15px;
            }
            .logo{
                height: 120px;
                width: 293px;
                margin-left: 80px;
                margin-right: 80px;
            }
            .header {
                height: 130px;
                background: linear-gradient(white, #FFCF05);
                width: auto;
                text-align-last: center;
            }
            .redband{
                font-size: 0.9rem;
                padding-top: 6px;
            }
            .helios{
                width: 500px;
                height: 602px;
            }
            .poster1{
                width: 400px;
                height: 234px;
                box-shadow: 10px 10px 50px black;
            } 
            .invader{
                width: 600px;
                margin-left: -80px;
                margin-top: 20px;
            }
            .logan{
                width: 286px;
                height: 200px;
                margin-top: 30px;
            }
            .bitch{
                width: 449px;
                height: 200px;
                margin-top: 20px;
            }
            .CC{
                width: 600px;
                height: 152px;
                margin-left: -50px;
                margin-top: 20px;
            }
            .quasar{
                width: 286px;
                height: 200px;
                margin-top: 20px;
                margin-bottom: 50px;
            } 
            .loaderbot{
                width: 330px;
                height: 400px;
                margin-left: -80px;
            }
            .loaderbot2{
                width: 380px;
                height: 400px;
                margin-left: -90px;
            }
            .new-u{
                width: 200px;
                height: 304px;
            }
            .thebee{
                width: 300px;
            }
            .helios1{
                width: 350px;
                margin-top: 30px;
            }
            .welcomepic{
                box-shadow: 10px 10px 50px black;
                border-radius: 20px;
                width: 729px;
                height: 332px;
            }}

        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {  
            .loader{ 
                height: 115px;
                width: 208px;
                margin-top: 15px;
            }
            .logo{
                height: 120px;
                width: 293px;
                margin-left: 80px;
                margin-right: 80px;
            }
            .header {
                height: 130px;
                background: linear-gradient(white, #FFCF05);
                width: auto;
                text-align-last: center;
            }
            .redband{
                font-size: 0.9rem;
                padding-top: 6px;
            }
            .helios{
                width: 500px;
                height: 602px;
            }
            .poster1{
                width: 530px;
                height: 274px;
                box-shadow: 10px 10px 50px black;
            }
            .invader{
                width: 600px;
                margin-left: -40px;
                margin-top: 20px;
            }
            .logan{
                margin-top: 30px;
                width: 286px;
                height: 200px;
            }
            .bitch{
                width: 449px;
                height: 200px;
                margin-top: 20px;
            }
            .CC{
                width: 600px;
                height: 152px;
                margin-left: -50px;
                margin-top: 20px;
            }
            .quasar{
                width: 286px;
                height: 200px;
                margin-top: 20px;
                margin-bottom: 50px;
            }
            .loaderbot{
                width: 330px;
                height: 400px;
                margin-left: -50px;
            }
            .loaderbot2{
                width: 380px;
                height: 400px;
                margin-left: -90px;
            }
            .new-u{
                width: 200px;
                height: 304px;
            }
            .thebee{
                width: 300px;
            }
            .helios1{
                width: 350px;
                margin-top: 30px;
            }
            .welcomepic{
                box-shadow: 10px 10px 50px black;
                border-radius: 20px;
                width: 729px;
                height: 332px;
            }}
            
body {
    background-image: url(images/backg.png);
}
.nav{
}
.redband{
    background-image: url(images/redband.png);
    height: 30px;
    color: black;
    font-family: 'Exo', sans-serif;
    text-align-last: center;
}
.redband a{
    color: black;
    text-decoration: none;
}
.redband a:hover{
    color: #2EFEFF;
}
.home {
    color: #FFCF05;
}
.home_h1{
    color: #FFCF05;
    font-family: 'Exo', sans-serif;
    font-size: 2rem;
    margin-top: 10px;
}
.home_content{
    margin-top: 10px;
    font-family: 'Sunflower', sans-serif;
}
.titles{
    margin-top: 20px;
    font-family: 'Exo', sans-serif;
    color:  #FFCF05;
    text-align-last: center;
}
.pitch{
    font-family: 'Sunflower', sans-serif;
    color: #FFCF05
}
.OLG{
    font-family: 'Exo', sans-serif;
    color: #FFCF05;
    margin-top: 40px;
}
.weapontitle{
    margin-top: 20px;
    font-family: 'Teko', sans-serif;
    color: red;
}
.weapondscrp{
    font-family: 'Sunflower', sans-serif;
    color: white;
}
.disclaimer{
    color: red;
    text-align-last: center;
    font-size: 1.5rem;
}
.welcome{
    text-align-last: center;
    margin-bottom: 30px;
}